.header {
  position: relative;
  width: 66.75%;
  margin: 45px auto 36px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 760px) {
    .header {
      width: 100%;
    }  
}

