.profile__button-pen {
  background-image: url('../../../images/pen.svg');
  background-color: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: pen;
  opacity: 1;
} 

.profile__button-pen:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.8s linear;
  transition: background-color 0.8s linear;
  cursor: pointer;
}