.elements__list-button {
  width: 22px;
  height: 19px;
  border: none;
  background-color: #ffffff;
}

.elements__list-button:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.8s linear;
  transition: background-color 0.8s linear;
  cursor: pointer;
}