.popup__container_place_show-card {
  width: 816px;
  max-width: 75vw;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  color: #fff;
}


@media (max-width: 760px) {
    .popup__container_place_show-card {
      width: 240px;
    }
  }